body {
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #080808;
    box-sizing: border-box;
  }

ul {
    display: flex;
    flex-basis: 450px;
    justify-content: flex-end;
    list-style-type: none;
    gap: 16px;
    padding: 0;
    margin: 0;
}

li {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    flex-basis: 450px;
    font-size: 24px;
    color: #F9FAF8
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 48px;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;    
    padding-top: 24px;
    padding-bottom: 90px;
    max-width: 1368px;
    margin: 0 auto;

}

.intro {
    display: flex;
    justify-content: center;
    gap: 48px;
    align-items: center;
    background-color: #1F2937;
    margin: 0 auto;
    padding-bottom: 90px;
    max-width: 1368px;
}

.bold {
    font-size: 46px;
    font-weight: bolder;
    color: #F9FAF8;
}

.text {
    display: flex;
    flex-basis: 450px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    font-size: 18px;
    color: #E5E7EB;
    
}

img {
    width: 450px;
    height: 200px;
    object-fit: cover;
}

.button1 {
    background-color: #3882F6;
    padding: 8px 24px;
    border-radius: 10px;
    border-style: none;
    color: #E5E7EB;
    font-size: 16px;
    font-weight: bold;
}

.information {
    display: flex;
    flex-direction: column;
    max-width: 1368px;
    gap: 40px;
    align-self: center;
    background-color: #F9FAF8;
    padding-bottom: 90px;
    
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    align-self: center;
    margin-top: 40px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: center;
    align-items: center;
}

.images img {
    width: 175px;
    height: 175px;
    border: solid blue;
    border-radius: 10px;
}

.thumbnail {
    flex-basis: 175px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: #E5E7EB;
    max-width: 1368px;
    align-self: center;
    
    
}

.quote-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 30px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    max-width: 50%;
    
}

.quotee {
    font-weight: bold;
    font-size: 18px;
    max-width: 50%;
    align-self: flex-end;
    margin-right: 25px;
    
}

.action {
    background-color: #F9FAF8;
    display: flex;
    max-width: 1368px;
    align-self: center;
    justify-content: center; 
    padding-top: 60px;
    padding-bottom: 60px;
}

.call {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    gap: 180px;
    max-width: 66%;
    padding: 36px 72px;
    border-radius: 10px;
    margin-right: 300px;
    margin-left: 300px;
}

.button2 {
    background-color: #3882F6;
    padding: 8px 24px;
    border-radius: 10px;
    border-style: solid;
    border-color:#E5E7EB;
    color: #E5E7EB;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
}

.p1 {
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: bold;
}

.p2 {
   margin: 0;
   font-size: 14px; 
   color: #E5E7EB;
   white-space: nowrap;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
    max-width: 1368px;
    align-self: stretch; 
    padding-top: 20px; 
    padding-bottom: 20px;
    justify-content: center;
    margin: auto;

}

.footer-text {
    font-size: 13px;
    flex-grow: 100%;
}