body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #080808;
    box-sizing: border-box;
  }

ul {
    display: flex;
    flex-basis: 450px;
    justify-content: flex-end;
    list-style-type: none;
    gap: 16px;
    padding: 0;
    margin: 0;
}

li {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    flex-basis: 450px;
    font-size: 24px;
    color: #F9FAF8
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 48px;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;    
    padding-top: 24px;
    padding-bottom: 90px;
    max-width: 1368px;
    margin: 0 auto;

}

.intro {
    display: flex;
    justify-content: center;
    gap: 48px;
    align-items: center;
    background-color: #1F2937;
    margin: 0 auto;
    padding-bottom: 90px;
    max-width: 1368px;
}

.bold {
    font-size: 46px;
    font-weight: bolder;
    color: #F9FAF8;
}

.text {
    display: flex;
    flex-basis: 450px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    font-size: 18px;
    color: #E5E7EB;
    
}

img {
    width: 450px;
    height: 200px;
    object-fit: cover;
}

button {
    background-color: #3882F6;
    padding: 8px 24px;
    border-radius: 10px;
    border-style: none;
    color: #E5E7EB;
    font-size: 16px;
    font-weight: bold;
}

.information {
    display: flex;
    flex-direction: column;
    max-width: 1368px;
    gap: 40px;
    margin: 0 auto;
    background-color: #F9FAF8;
    padding-bottom: 90px;
    
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    align-self: center;
    margin-top: 40px;
}

.images {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: center;
    align-items: center;
}

.images img {
    width: 175px;
    height: 175px;
    border: solid blue;
    border-radius: 10px;
}

.thumbnail {
    flex-basis: 175px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
